<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="logo">E-shop</div>
            <div class="cart">
                <form action="#" class="search-form">
                    <input type="text" class="search-field" v-model="userSearch">
                    <button class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn btn-secondary btn-cart" data-toggle="modal" data-target="#basketModal"
                    type="button">Корзина</button>
            </div>
            <div class="cart-block invisible"></div>
        </header>
        <main>
            <div class="modal fade" id="basketModal" tabindex="-1" aria-labelledby="basketModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="basketModalLabel">Ваша корзина</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row" id="basketBody">
                                    <div class="card col-md-12 mb-2" v-for="cartItem in cartItems">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img :src="cartItem.img" class="card-img"
                                                    alt="Изображение ${cartItem.product_name}">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{cartItem.product_name}}</h5>
                                                    <p class="card-text"><small class="text-muted">Количество:
                                                            <b>{{cartItem.quantity}}</b><br>Цена:
                                                            <b>{{cartItem.price * cartItem.quantity}} руб.</b></small>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-2 d-flex align-items-center">
                                                <button type="button" name="basketElemAdd" class="btn btn-link"
                                                    @click="addProduct(cartItem)">
                                                    <i name="basketElemAdd" id="basketElemAddID_${this.id}"
                                                        class="fas fa-plus-square" data-id="${this.id}">
                                                    </i>
                                                </button>
                                                <button type="button" name="basketElemDel" @click="delProduct(cartItem)"
                                                    class="btn btn-link">
                                                    <i name="basketElemDel" id="basketElemDelID_${this.id}"
                                                        class="fas fa-minus-square" data-id="${this.id}">
                                                    </i>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="basketSum">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="button" class="btn btn-primary">Оплатить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products">
                <div class="product-item" v-for="product of FilterGoods" :key="product.id_product">
                    <img :src="imgCatalog" alt="Some img">
                    <div class="desc">
                        <h3>{{product.product_name}}</h3>
                        <p>{{product.price}} $</p>
                        <button class="buy-btn" @click="addProduct(product)">Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>

<!--<div class="cart-item" data-id="${this.id_product}">-->
<!--<div class="product-bio">-->
<!--<img src="${this.img}" alt="Some image">-->
<!--<div class="product-desc">-->
<!--<p class="product-title">${this.product_name}</p>-->
<!--<p class="product-quantity">Quantity: ${this.quantity}</p>-->
<!--<p class="product-single-price">$${this.price} each</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="right-block">-->
<!--<p class="product-price">${this.quantity*this.price}</p>-->
<!--<button class="del-btn" data-id="${this.id_product}">&times;</button>-->
<!--</div>-->
<!--</div>-->